<?xml version = "1.0" encoding = "UTF-8"?>

<widget>
   
   <name>App Prova1</name>
   
   <description>
      Tutorials Point Online Viewer
   </description>
   
   <author href = "http://tutorialspoint.com" email = "contact@tutorialspoint.com">
      Tutorials Point
   </author>
   
   <plugin name="cordova-plugin-whitelist" />
   <access origin="*" />
   <allow-intent href="*" />
   
</widget>