<?xml version = "1.0" encoding = "UTF-8"?>

<widget>
   
   <name>CarminatiBartoli</name>
   
   <description>
      Hypermedia Project 2016 - Tim
   </description>
   
   <author>
      CarminatiBartoli
   </author>
   
   <plugin name="cordova-plugin-whitelist" />
   <access origin="*" />
   <allow-intent href="*" />
   
</widget>